body {
	color: white;
	background-color: #1b262c;
}

.tweet_author a {
    color: white;
}

.tweet_content_header {
	color: #aaa;
}

.profile_other_info {;
    color: #aaa;
}

.user_username a {
    color: white;
}