* {
  padding: 0;
  margin: 0;
}

header {
	color: rgb(29, 161, 242);
	text-align: center;
}

header a {
	color: rgb(29, 161, 242);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
	text-align: center;
}

textarea {
	width: 80%;
	max-width: 400px;
	height: 100px;
	resize: none;
}

a {
	color: rgb(29, 161, 242);
}

.centered {
	text-align: center;
}

.login_page {
	padding-top: 50px;
}

.index_wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	padding: 0.75em;
	width: 100px;
	background-color: white;
	color: rgb(29, 161, 242);
	border-radius: 100px;
	border-color: rgb(29, 161, 242);
	border-style: solid;
	font-weight: bold;
}

.button:hover {
	background-color: rgba(29, 161, 242, 0.1);
	transition: 0.2s;
}


.register_button_wrapper {
	margin: 1em;
}

.register_button {
	padding: 0.75em;
	width: 100px;
	background-color: rgb(29, 161, 242);
	color: white;
	border-radius: 100px;
	border-color: rgb(29, 161, 242);
	border-style: solid;
	font-weight: bold;
	text-decoration: none;
}

.register_button:hover {
	background-color: rgba(25, 131, 202, 0.9);
	border-color: rgba(25, 131, 202, 0.9);
	transition: 0.2s;
}

.profile_wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.profile_follow_button {
	text-align: center;
}

.profile_info {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.profile_username {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

.profile_pic {	
	border-radius: 100px;
	border-color: white;
	border-style: solid;
}

.profile_bio {
	padding-bottom: 0.5em;
}

.profile_other_info {
	display: flex;
	justify-content: space-between;
	color: #555;
}

.tweet_container {

}

.parent-tweet {
}

.tweetcard{
	max-width: 600px;
    padding-top:20px;
    padding-bottom: 20px;
    border: 1px solid;
	border-color: rgb(230, 236, 240);
    display:flex;
    flex-direction: row;
}

.tweet_profile_pic {
	width: 64px;
}

.tweet_content {
	max-width: calc(100% - 74px);
	padding-left: 10px; 
	flex-grow: 1;
}

.tweet_content_header {
    text-align:left;
	color: #555;
}

.tweet_content_header * {
    display: inline;
}

.tweet_content_text {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.tweet_author {
    height: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tweet_author a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.tweet_author a:hover {
	text-decoration: underline;
}

.tweet_text {

}

.tweet_primary {
	font-size: 23px;
}

.tweet_footer {
    margin-top: 20px;
}

.tweet_footer * {
    display: inline;
}

.user_list_wrapper {
	display:flex;
	flex-wrap: wrap;
        justify-content: center;
	text-align: center;
}

.user_card {
	width: 250px;
	border: solid;
}

.user_username {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.user_bio {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
