* {
  padding: 0;
  margin: 0;
}

header{
    background-color: skyblue;
	text-align: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
	width: 80%;
	max-width: 400px;
	height: 100px;
	resize: none;
}

.index_wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


.profile_wrapper {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.profile_info {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.profile_username {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

.profile_bio {
	padding-bottom: 0.5em;
}

.profile_other_info {
	display: flex;
	justify-content: space-between;
	color: #555;
}

.tweet_container {

}

.parent-tweet {
    background-color: aquamarine;
}

.tweetcard{
	max-width: 600px;
    padding-top:20px;
    padding-bottom: 20px;
    border: 1px solid;
    display:flex;
    flex-direction: row;
}

.tweet_profile_pic {
	width: 64px;
}

.tweet_content {
	max-width: 100%;
	padding-left: 10px; 
	flex-grow: 1;
}

.tweet_content_header {
    text-align:left;
}

.tweet_content_header * {
    display: inline;
}

.tweet_author {
    height: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tweet_author a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.tweet_text {
}

.tweet_footer * {
    display: inline;
}