* {
  padding: 0;
  margin: 0;
}

header{
    background-color: skyblue;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

textarea {
	width: 100%;
	max-width: 400px;
	height: 100px;
	resize: none;
}

.profile_wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.index_wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.tweet_container {
}
.parent-tweet {
    background-color: aquamarine;
}

.tweetcard{
	max-width: 700px;
    padding-top:20px;
    padding-bottom: 20px;
    border: 1px solid;
    display:flex;
    flex-direction: row;
}

.tweet_profile_pic {
	width: 64px;
}

.tweet_content {
	max-width: 636px;
	flex-grow: 1;
}

.tweet_content_header {
    text-align:left;
}

.tweet_content_header * {
    display: inline;
}

.tweet_author {
    height: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tweet_author a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.tweet_text {
}

.tweet_footer * {
    display: inline;
}