<!DOCTYPE html>
<html>
    <head>
        {% load static %}
	<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'app1/styles.css' %}">
        {%block title%}
        {%endblock%}
    </head>
    <header>
        <div>
            <a href="../">FakeTwitter</a>
            <a href="../profile/{{current_username}}">Your Profile</a>  
            <a href="/settings">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </header>
    {%block content%}
    {%endblock%}
</html>