<!DOCTYPE html>
<html>
    <head>
        {% load static %}
	<meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'app1/styles.css' %}">
	<link rel="icon" href="{% static 'app1/favicon.ico' %}" type="image/x-icon" />
        {%block title%}
        {%endblock%}
    </head>
    <header>
	{% if logged_in %}
        <div>
            <a href="{% url 'index' %}">FakeTwitter</a>
	    <a href="{% url 'yourfeed' %}">Your Feed</a>
            <a href="{% url 'profile' profile_name=current_username %}">Your Profile</a>
            <a href="{% url 'users' %}">User List</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
	{% endif %}
    </header>
    {%block content%}
    {%endblock%}
</html>