<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>

    </head>
    <body>
        <h1>
            Hello {{ user }}!
        </h1>
        <ul>
            {% for tweet in tweets %}
            <li>
                {{ tweet }}
            </li>
            {% endfor %}
        </ul>
        <div>
            <div>
                <a href="{% url 'login' %}">Login here!</a>
            </div>
            <div>
                <a href="{% url 'register' %}">Register here!</a>
            </div>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            
        </div>
    </body>
</html>