<!DOCTYPE html>
<html>
    <head>


    </head>
    <body>
        <h1>
            Hello World!
        </h1>
        <ul>
            {% for tweet in tweets %}
            <li>
                {{ tweet }}
            </li>
            {% endfor %}
        </ul>
        <div>
            <div>
                Login Here!
            </div>
            <div>
                <form id="login_form">
                    Username<input type="text" id="username">
                    Password<input type="password" id="password">
                </form>
            </div>
            <div>
                <a href="/register">Register here!</a>
            </div>
            
        </div>
    </body>
</html>