{%extends "basetemplate.html" %}
    {%block title %}
        <title>Login</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <div>
                {{ message }}
            </div>
            <div>
                Log in To FakeTwitter Here!
            </div>
            <div>
                <form id="login_form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        Username<input type="text" name="username">
                    </div>
                    <div>
                        Password<input type="password" name="password">
                    </div>
                    <div>
                        <input type="submit" value="Log in">
                    </div>
                </form>
            </div>
            <div>
                <a href="FORGOTPASSWORD">Forgot Password?</a>
            </div>
            <div>
                <a href="{% url 'register' %}">Register here!</a>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
{%endblock%}