{%extends "basetemplate.html" %}
    {%block title %}
        <title>Login</title>
    {%endblock%}
    {%block content%}
    <body>
        <div class="centered">
            <div>
                {{ message }}
            </div>
            <h2>
                Log in To FakeTwitter Here!
            </h2>
            <div>
                <form id="login_form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
		    <div>
			<div>
                            <label for="username">Username</label><br>
			    <input type="text" name="username" id="username">
			</div>
			<div>
                            <label for="password">Password</label><br>
			    <input type="password" name="password" id="password">
			</div>
			<div>
               			<a href="FORGOTPASSWORD">Forgot Password?</a>
			</div>
                        <input class="button" type="submit" value="Log in">
                    </div>
                </form>
            </div>

            <div class="register_button">
                <a href="{% url 'register' %}">Register!</a>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
{%endblock%}