{%extends "basetemplate.html" %}
    {%block title %}
        <title>Login</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <div>
                {{ message }}
            </div>
            <div>
                Login Here!
            </div>
            <div>
                <form id="login_form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    Username<input type="text" name="username">
                    Password<input type="password" name="password">
                    <input type="submit">
                </form>
            </div>
            <div>
                <a href="{% url 'register' %}">Register here!</a>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
{%endblock%}