{%extends "basetemplate.html" %}
    {%block title %}
        <title>Profile for {{ profile_name }}</title>
    {%endblock%}
    {%block content%}
    </head>
    <body class="profile_wrapper">
        <div>
            <div class="profile_header">
                <div class="profile_banner">

                </div>
                <div class="profile_pic_wrapper">
                    {% load static %}
                        <img src="{% static 'app1/' %}{{profile_pic}}" class="profile_pic">
                </div>
                {% if not is_own_profile %}
                {% if already_following %}
                    	<div id="followButton" name="followButton{{profile_name}}" class="profile_follow_button button" type="submit" value="unfollow" name="follow">
                        	Unfollow
                    	</div>
                {% else %}
                    	<div id="followButton"  name="followButton{{profile_name}}" class="profile_follow_button button" type="submit" value="follow" name="follow">
                        	Follow
			</div>
                {% endif %}
                {% endif %}
            </div>
            <div class="profile_info">
                <div class="profile_username">
                    {{profile_name}}'s profile
                </div>
                <div class="profile_bio">
                    {{user_object.profile.bio}}
                </div>
		<div class="profile_other_info">
               	 	<div class="profile_location">
                   		Location: {{ user_object.profile.location }}
                	</div>
                	<div class="profile_joindate">
                    		Joined: {{ user_object.date_joined }}
                	</div>
		</div>
                <div class="profile_follows">
			<span class="profile_follow_unit">
                    		<span class="bold">{{follower_count}}</span> Followers 
			</span>
			<span class="profile_follow_unit">
				<span class="bold">{{following_count}}</span> Following 
			</span>
                </div>
		<div class="profile_liked_tweets">
			<a href="{{profile_name}}/liked">Liked Tweets</a>
		</div>
            </div>
            <div class="tweet_container">
                    {% for tweet in tweets %}
                    <div class="tweetcard">
                        <div class="tweet_profile_pic">
                            {% load static %}
                            <a href="../profile/{{tweet.author}}">
                                <img src="{% static 'app1/' %}{{tweet.author.profile.profile_pic}}" class="profile_pic">
                            </a>
                        </div>
                        <div class="tweet_content">
                            <div class="tweet_content_header">
				{% if not tweet.author.username == profile_name %}
				<a href="{{ profile_name }}">{{ profile_name }} Retweeted</a><br>
				{% endif %}
                                <div class="tweet_author">
                                    <a href="{{tweet.author}}">{{tweet.author}}</a>
                                </div>
                                <div class="tweet_time">
                                    {{tweet.datetime}}
                                </div>
                            </div>
                            <div class="tweet_content_text">
                                {{ tweet.text }}
                            </div>
                            <div class="tweet_footer">
                                <a href="/tweets/{{tweet.id}}">View Replies ({{tweet.replies}})</a>
				{% if tweet.author.username == profile_name %}
				<a href="/delete/{{tweet.id}}">Delete</a>
				{% endif %}
                                {% if tweet.is_liked_by_current_user %}
                                        <div class="button like_button" type="submit" value="unlike" name="likebutton" id="likebutton{{tweet.id}}">
                                        Unlike
                                        </div>
                                {% else %}                                    
                                        <div class="button like_button" type="submit" value="like" name="likebutton" id="likebutton{{tweet.id}}">
                                        Like
                                        </div>
                                {% endif %}
				{% if not is_own_profile %}
                                {% if tweet.is_retweeted_by_current_user %}
                                        <div class="button retweet_button" type="submit" value="untweet" name="tweetbutton" id="retweetbutton{{tweet.id}}">
                                        Untweet
                                        </div>
                                {% else %}                                    
                                    <div class="button retweet_button" type="submit" value="retweet" name="tweetbutton" id="retweetbutton{{tweet.id}}">
                                        Retweet
                                    </div>
                                {% endif %}
				{% endif %}
                            </div>
                            <div>
                                {% for tag in tweet.tag_list %}
                                    <a href="/tags/{{ tag.tagname }}">#{{ tag.tagname }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
	{% if logged_in %}
        <div>
	    <div class="tweetcard">
                <div class="tweet_profile_pic">
                    {% load static %}
                    <img src="{% static 'app1/' %}{{current_user.profile.profile_pic}}" class="profile_pic">
                </div>
		<div class="tweet_content">
            	    <form action="/profile/{{current_username}}" method="POST">
                	{% csrf_token %}  
           		<textarea name="tweet" placeholder="What's new?"></textarea>
			<br>
                	<input class="register_button" type="submit" value="TWEET">
            	    </form>
		</div>
	    </div>
        </div>
        {% endif %}
        <footer>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </footer>
	<script src="{% static 'app1/' %}profile.js"></script>
    </body>
    {%endblock%}