{%extends "basetemplate.html" %}
    {%block title %}
        <title>Profile for {{ current_username }}</title>
    {%endblock%}
    {%block content%}
    </head>
    <body>
        <div>
            <h1>
                Hello {{ current_username }}!
            </h1>
            <ul>
                {% for tweet in tweets %}
                <li>
                    <div>
                        {{tweet.text}}
                        <a href="/tweets/{{tweet.id}}"> {{ tweet }} </a>
                        <a href="/reply/{{tweet.id}}">Reply!</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>
            Viewing {{message}}'s profile
            <br>
            is own profile: {{is_own_profile}}
        </div>
        <div>
            <form action="/profile/{{current_username}}" method="POST">
                {% csrf_token %} 
                Enter a new tweet here! (Max 140 chars)
                <input type="text" name="tweet">
                <input type="submit" value="TWEET">
            </form>
        </div>
        <div>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}