{%extends "basetemplate.html" %}
    {%block title %}
        <title>Profile for {{ profile_name }}</title>
    {%endblock%}
    {%block content%}
    </head>
    <body class="profile_wrapper">
        <div>
            <div class="profile_header">
                <div class="profile_banner">

                </div>
                <div class="profile_pic">
                    {% load static %}
                        <img src="{% static 'app1/' %}{{profile_pic}}">
                </div>
                {% if not is_own_profile %}
                <div class="profile_follow_button">
                    <button type="button">
                        Follow!
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="profile_info">
                <div class="profile_username">
                    {{profile_name}}'s profile
                </div>
                <div class="profile_bio">
                    {{profile_bio}}
                </div>
		<div class="profile_other_info">
               	 	<div class="profile_location">
                   		Location: {{ profile_location }}
                	</div>
                	<div class="profile_joindate">
                    		Joined: {{ profile_date_joined }}
                	</div>
		</div>
                <div class="profile_followers">
                    Followers:
                </div>
            </div>
            <div class="tweet_container">
                    {% for tweet in tweets %}
                    <div class="tweetcard">
                        <div class="tweet_profile_pic">
                            {% load static %}
                            <a href="../profile/{{tweet.author}}">
                                <img src="{% static 'app1/' %}{{tweet.author.profile.profile_pic}}">
                            </a>
                        </div>
                        <div class="tweet_content">
                            <div class="tweet_content_header">
                                <div class="tweet_author">
                                    <a href="{{tweet.author}}">{{tweet.author}}</a>
                                </div>
                                <div class="tweet_time">
                                    {{tweet.datetime}}
                                </div>
                            </div>
                            <div class="tweet_text">
                                {{ tweet.text }}
                            </div>
                            <div class="tweet_footer">
                                <a href="/reply/{{tweet.id}}">Reply!</a>
                                <a href="/tweets/{{tweet.id}}">View Replies ({{tweet.replies}})</a>
				{% if is_own_profile %}
				<a href="/delete/{{tweet.id}}">Delete</a>
				{% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <br>
            is own profile: {{is_own_profile}}
        </div>
        <div>
            <form action="/profile/{{current_username}}" method="POST">
                {% csrf_token %} 
                <textarea name="tweet"></textarea>
		<br>
                <input type="submit" value="TWEET (Max 140 chars)">
            </form>
        </div>
        <div>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}