<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <div>
            <div>
                <h1>
                    {{message}}
                </h1>
            </div>
            <div>
                <h1>
                    Register Here!
                </h1>
            </div>
            <div>
                <form id="registry_form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %} 
                    Username<input type="text" name="username">
                    Email<input type="text" name="email">
                    Password<input type="password" name="password">
                    Confirm Password <input type="password" name="confirm">
                    <input type="submit">
                </form>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
</html>