{%extends "basetemplate.html" %}
    {%block title %}
        <title>Register</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <div>
                <h1>
                    {{message}}
                </h1>
            </div>
            <div>
                <h1>
                    Create your account
                </h1>
            </div>
            <div>
                <form id="registry_form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        Username<input type="text" name="username">
                    </div>
                    <div>
                        Email<input type="text" name="email">
                    </div>
                    <div>
                        Password<input type="password" name="password">
                    </div>
                    <div>
                        Confirm Password <input type="password" name="confirm">
                    </div>
                    <div>
                        <input type="submit">
                    </div>                    
                </form>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
    {%endblock%}