{%extends "basetemplate.html" %}
    {%block title %}
        <title>Register</title>
    {%endblock%}
    {%block content%}
    <body>
        <div  class="centered">
            <div>
                <h1>
                    {{message}}
                </h1>
            </div>
            <div>
                <h1 class="centered">
                    Create your account
                </h1>
            </div>
            <div>
                <form id="registry_form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="username">Username</label><br>
			<input type="text" name="username" id="username">
                    </div>
                    <div>
                        <label for="email">Email</label><br>
			<input type="text" name="email" id="label">
                    </div>
                    <div>
                        <label for="password">Password</label><br>
			<input type="password" name="password" id="password">
                    </div>
                    <div>
                        <label fpr="confirm">Confirm Password</label><br>
			<input type="password" name="confirm" id="confirm">
                    </div>
                    <div>
                        <input type="submit">
                    </div>                    
                </form>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
            </div>
            
        </div>
    </body>
    {%endblock%}