<!DOCTYPE html>
<html>
    <head>
        <title>Reply</title>

    </head>
    <body>
        <div>
            <h1>
                Hello {{ users }}!
            </h1>
        </div>
        <div>
            <form action="/reply/{{tweet_id}}" method="POST">
                {% csrf_token %} 
                Enter your reply here! (Max 140 chars)
                <input type="text" name="tweet">
                <input type="submit" value="TWEET">
            </form>
        </div>
        <div>
            <div>
                <a href="/">Back</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>   
        </div>
    </body>
</html>