{%extends "basetemplate.html" %}
    {%block title %}
        <title>Reply</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <h1>
                Hello {{ users }}!
            </h1>
        </div>
        <div class="tweetcard">
            <div class="tweet_profile_pic">
                {% load static %}
                <a href="../profile/{{parent_tweet.author}}">
                    <img src="{% static 'app1/' %}{{parent_tweet.author.profile.profile_pic}}">
                </a>
            </div>
            <div class="tweet_content">
                <div class="tweet_content_header">
                    <div class="tweet_author">
                        <a href="../profile/{{parent_tweet.author}}">{{parent_tweet.author}}</a>
                    </div>
                    <div class="tweet_time">
                        {{parent_tweet.datetime}}
                    </div>
                </div>
                <div>
                    {{ parent_tweet.text }}
                </div>
            </div>
        </div>
        <div>
            <form action="/reply/{{tweet_id}}" method="POST">
                {% csrf_token %} 
                Enter a reply here! (Max 140 chars)
                <input type="text" name="tweet">
                <input type="submit" value="TWEET">
            </form>
        </div>
        <div>
            <div>
                <a href="/">Back</a>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}