{%extends "basetemplate.html" %}
    {%block title %}
        <title>Reply</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <h1>
                Hello {{ users }}!
            </h1>
        </div>
        <div>
            <h3>
                {{parent_tweet.author}} Says:
            </h3>
            {{parent_tweet.text}}
        </div>
        <div>
            <form action="/reply/{{tweet_id}}" method="POST">
                {% csrf_token %} 
                Enter a reply here! (Max 140 chars)
                <input type="text" name="tweet">
                <input type="submit" value="TWEET">
            </form>
        </div>
        <div>
            <div>
                <a href="/">Back</a>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}