{%extends "basetemplate.html" %}
    {%block title %}
        <title>Reply</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            <h1>
                Hello {{ current_user }}!
            </h1>
            <p>
                {% load static%}
                <img src="{% static profile_url %}">
            </p>
        </div>
        <div>
            <form action="settings" method="POST">
                {% csrf_token %} 
                Write your bio here! (Max 300 chars)
                <input type="text" name="bio">
                <input type="submit">
            </form>
        </div>
        <div>
            <form action="settings" method="POST">
                {% csrf_token %}
                <input type="radio" id="green_square" name="profile_pic" value="green_square.jpg">
                <label for="green_square">Green Square</label>
                <input type="radio" id="red_diamond" name="profile_pic" value="red_diamond.jpg">
                <label for="red_diamond">Red Diamond</label>
                <input type="radio" id="blue_circle" name="profile_pic" value="blue_circle.jpg">
                <label for="blue_circle">Blue Circle</label>
                <input type="submit">
            </form>
        </div>
        <div>
            <div>
                <a href="/">Back</a>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}