{%extends "basetemplate.html" %}
    {%block title %}
        <title>Settings</title>
    {%endblock%}
    {%block content%}
    <body class="centered">
	<main class="index_wrapper">
        <div>
            <h1>
                Hello {{ current_username }}!
            </h1>
            <div>
                {% load static%}
                <img src="{% static profile_url %}">
		<div>
			<p>Date Joined: {{ profile_date_joined }}</p>
		</div>

            </div>
        </div>
        <div>
            <form action="settings" method="POST">
                {% csrf_token %} 
                <div class="settings_section">     
		    <label for="bio">Write your bio (Max 300 chars)</label>            
                    <textarea name="bio" id="bio" placeholder="{{ profile.bio }}"></textarea>
		</div>
		<div class="settings_section">       
                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" placeholder="{{ profile.location }} "> 
                </div>
		<div class="settings_section">
			<h4>Profile Picture Selection</h4><br>
 	                <input type="radio" id="default" name="profile_pic" value="default-user-image.png">
        	        <label for="default">Default Icon</label><br>
                	<input type="radio" id="green_square" name="profile_pic" value="green_square.jpg">
	                <label for="green_square">Green Square</label><br>
        	        <input type="radio" id="red_diamond" name="profile_pic" value="red_diamond.jpg">
	                <label for="red_diamond">Red Diamond</label><br>
                	<input type="radio" id="blue_circle" name="profile_pic" value="blue_circle.jpg">
        	        <label for="blue_circle">Blue Circle</label><br>
		</div>
		<div class="settings_section">
			<h4>Default page on login</h4>
			<p>Current default page is {{ profile.default_page }}</p><br>
                	<input type="radio" name="default_page" id="default_page_all" value="all">
			<label for="default_page_all">All</label>
			<br>
			<input type="radio" name="default_page" id="default_page_yourfeed" value="yourfeed">
			<label for="default_page_yourfeed">Your Feed</label>
		</div>
		<div class="settings_section">
		{% if privacy_mode_enabled %}
                	<input type="checkbox" name="privacy" value="privacy" checked>
			<br>Privacy mode
		{% else %}
                	<input type="checkbox" name="privacy" value="privacy">
			<br>Privacy mode
		{% endif %}
		</div>	
		<div class="settings_section">
                	<input type="submit" class="settings_submit" value="Save Changes">
		</div>
            </form>
        </div>
        <footer>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </footer>
	</main>
    {%block tweet%}
    {%endblock%}
    </body>
    {%endblock%}