{%extends "basetemplate.html" %}
    {%block title %}
        <title>Tweets</title>
    {%endblock%}
    {%block content%}
    <body class="index_wrapper">
    {%for tweet in posts %}
       <div class="tweetcard">
                <div class="tweet_profile_pic">
                    {% load static %}
                    <a href="../profile/{{tweet.author}}">
                        <img src="{% static 'app1/' %}{{tweet.author.profile.profile_pic}}">
                    </a>
                </div>
                <div class="tweet_content">
                    <div class="tweet_content_header">
                        <div class="tweet_author">
                            <a href="../profile/{{tweet.author}}">{{tweet.author}}</a>
                        </div>
                        <div class="tweet_time">
                            {{tweet.datetime}}
                        </div>
                    </div>
                        <div class="tweet_content_text">
                            {{ tweet.text }}
                        </div>
                    <div class="tweetfooter">
                        <a href="/tweets/{{tweet.id}}">Reply!</a>  
                    </div> 
              		<div>
			{% for tag in tweet.tag_list %}
				<a href="/tags/{{ tag.tagname }}">#{{ tag.tagname }}</a>
			{% endfor %}
			</div>           
                </div>
            </div> 
        </div>
    {% endfor %}
        <footer>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </footer>
    </body>
    {%endblock%}