<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>

    </head>
    <body>
        <div>
            {%for parent in parent_tweet%}
                {{parent}}
            {%endfor%}
        </div>
        <div>
            {{tweet_text}}
        </div>
        <div>
            by: {{tweet_author}}
        </div>
        <p>>at: {{tweet_datetime}}</p>
        <div>
            {% for child in child_tweets%}
            <li>
                <ul>
                    <a href="../tweets/{{child.id}}">{{child}}</a>
                    <a href="../reply/{{child.id}}">Reply!</a>
                </ul>
            </li>
            {% endfor %}
        </div>
    </body>
</html>