{%extends "basetemplate.html" %}
    {%block title %}
        <title>Main Page</title>
    {%endblock%}
    {%block content%}
    <body>
        <div>
            {%for parent in parent_tweet%}
                {{parent}}
            {%endfor%}
        </div>
        <div class="tweetcard">
            <div class="tweetauthorpic">
                Pic
            </div>
            <div class="tweetcontent">
                <div class="tweetheader">
                    <div class="tweetauthor">
                        {{tweet_author}}
                    </div>
                    <div class="tweettime">
                        {{tweet_datetime}}
                    </div>
                </div>
                <div class="tweettext">
                    {{ tweet_text }}
                </div>
                <div class="tweetfooter">
                    <a href="/reply/{{tweet_id}}">Reply!</a>   
                </div>            
            </div>
        </div> 
        <div>
            {% for child in child_tweets%}
            <li>
                <ul>
                    <a href="../tweets/{{child.id}}">{{child}}</a>
                    <a href="../reply/{{child.id}}">Reply!</a>
                </ul>
            </li>
            {% endfor %}
        </div>
        <div>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </body>
    {%endblock%}