{%extends "basetemplate.html" %}
    {%block title %}
        <title>Main Page</title>
    {%endblock%}
    {%block content%}
    <body class="index_wrapper">
        <div class="tweetcontainer">
            {% if parent_tweet %}
            <div class="tweetcard parent-tweet">
                <div class="tweet_profile_pic">
                    {% load static %}
                    <a href="../profile/{{parent_tweet.author}}">
                        <img src="{% static 'app1/' %}{{parent_tweet.author.profile.profile_pic}}">
                    </a>
                </div>
                <div class="tweet_content">
                    <div class="tweet_content_header">
                        <div class="tweet_author">
                            <a href="../profile/{{parent_tweet.author}}">{{parent_tweet.author}}</a>
                        </div>
                        <div class="tweet_time">
                            {{parent_tweet.datetime}}
                        </div>
                    </div>
                    <div class="tweet_content_text">
                        {{parent_tweet.text}}
                    </div>
                    <div class="tweetfooter">
			<a href="/tweets/{{parent_tweet.id}}">View Parent Tweet({{parent_tweet.replies}})</a>    
                    </div>            
                </div>
            </div> 
            {%endif%}

            <div class="tweetcard">
                <div class="tweet_profile_pic">
                    {% load static %}
                    <a href="../profile/{{tweet.author}}">
                        <img src="{% static 'app1/' %}{{tweet.author.profile.profile_pic}}">
                    </a>
                </div>
                <div class="tweet_content">
                    <div class="tweet_content_header">
                        <div class="tweet_author">
                            <a href="../profile/{{tweet.author}}">{{tweet.author}}</a>
                        </div>
                        <div class="tweet_time">
                            {{tweet.datetime}}
                        </div>
                    </div>
		{% if parent_tweet %}
		    <div>
			Replying to <a href="../profile/{{parent_tweet.author}}">{{parent_tweet.author}}</a>
		    </div>
		{% endif %}
                    <div class="tweet_content_text tweet_primary">
                        {{tweet.text}}
                    </div> 
                    <div>
                        {% for tag in tweet.tag_list %}
                             <a href="tags/{{ tag.tagname }}">#{{ tag.tagname }}</a>
                        {% endfor %}
                    </div>          
                </div>
            </div>
	{% if logged_in %}
            <div>
                <form action="/tweets/{{tweet_id}}" method="POST">
                    {% csrf_token %} 
                    <textarea name="tweet" placeholder="What's new?"></textarea>
			<br>
                    <input class="register_button" type="submit" value="Tweet">
                </form>
            </div> 
	{% endif %}
            {% for child in child_tweets%}
            <div class="tweetcard">
                <div class="tweet_profile_pic">
                    {% load static %}
                    <a href="../profile/{{child.author}}">
                        <img src="{% static 'app1/' %}{{child.author.profile.profile_pic}}">
                    </a>
                </div>
                <div class="tweet_content">
                    <div class="tweet_content_header">
                        <div class="tweet_author">
                            <a href="../profile/{{child.author}}">{{child.author}}</a>
                        </div>
                        <div class="tweet_time">
                            {{child.datetime}}
                        </div>
                    </div>
                    <div class="tweet_content_text">
                        {{child.text}}
                    </div>
                    <div class="tweetfooter">
			<a href="/tweets/{{child.id}}">View Replies ({{child.replies}})</a>    
                    </div>            
                </div>
            </div> 
            {% endfor %}
        </div>
        <footer>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'index' %}">Home</a>
            </div>
        </footer>
    </body>
    {%endblock%}