{%extends "settings.html" %}
{%block tweet%}
<div class="tweetcard">
    <div class="tweet_profile_pic">
        {% load static %}
        <a href="profile/{{tweet.author}}">
            <img src="{% static 'app1/' %}{{tweet.author.profile.profile_pic}}">
        </a>
    </div>
    <div class="tweet_content">
        <div class="tweet_content_header">
            <div class="tweet_author">
                <a href="profile/{{tweet.author}}">{{tweet.author}}</a>
            </div>
            <div class="tweet_time">
                {{tweet.datetime}}
            </div>
        </div>
        <div>
            {{ tweet.text }}
        </div>
        <div class="tweet_footer">
            <div class="tweet_reply">
                <a href="/reply/{{tweet.id}}">Reply!</a>
            </div>
            <div class="tweet_children"> 
                <a href="/tweets/{{tweet.id}}">View Replies</a>
            </div>
        </div>
    </div>
</div>
TESTING 124
{%endblock%}