{%extends "basetemplate.html" %}
    {%block title %}
        <title>Main Page</title>
    {%endblock%}
    {%block content%}
    <body class="index_wrapper centered"">
	{% if logged_in %}
	<a href="/follow_list">Your follow list</a>
	{% endif %}
        <div class="user_list_wrapper">
            {% for user in user_list %}
                <div class="user_card" id="user_card{{user.id}}">
                    <div class="profile_pic_wrapper">
                    {% load static %}
                        <img src="{% static 'app1/' %}{{user.profile.profile_pic}}" class="profile_pic">
                    </div>
                    <div class="user_username">
                        {{ user.username }} 
                    </div>
                    <div class="user_bio">
                        {{ user.profile.bio }}
                    </div>
                    <div>
                        Follow button!
                    </div>
                    <div>
                        {{user.profile.follower_count}} Followers<br>
			{{user.profile.following_count}} Following<br>
			{{user.profile.tweet_count}} Tweets
                    </div>
                </div>
            {% endfor %} 
        </div>
    </body>
    {%endblock%}